<ol class="items-center w-full space-y-4 sm:flex sm:space-x-8 sm:space-y-0 rtl:space-x-reverse">
    <li [ngClass]="{'text-blue-500': steps == 1}" class="flex items-center  space-x-2.5 rtl:space-x-reverse">
        <span [ngClass]="{'border-blue-500': steps == 1}" class="flex items-center justify-center w-8 h-8 border rounded-full shrink-0">
            1
        </span>
        <span>
            <h3 class="font-medium leading-tight">verify email</h3>
        </span>
    </li>
    <li [ngClass]="{'text-blue-500': steps == 2}" class="flex items-center space-x-2.5 rtl:space-x-reverse">
        <span [ngClass]="{'border-blue-500': steps == 2}" class="flex items-center justify-center w-8 h-8 border  rounded-full shrink-0">
            2
        </span>
        <span>
            <h3 class="font-medium leading-tight">verify code </h3>
        </span>
    </li>
    <li [ngClass]="{'text-blue-500': steps == 3}" class="flex items-center space-x-2.5 rtl:space-x-reverse">
        <span [ngClass]="{'border-blue-500': steps == 3}" class="flex items-center justify-center w-8 h-8 border  rounded-full shrink-0">
            3
        </span>
        <span>
            <h3 class="font-medium leading-tight">change password</h3>
        </span>
    </li>
</ol>

<div class="flex flex-col items-center justify-center w-full p-6 space-y-4 bg-white rounded-lg shadow md:space-y-6 sm:p-8">
    @if (steps == 1) {
        <form [formGroup]="email" (ngSubmit)="emailStep()" class="w-64 md:w-96">
            <div class="relative z-0 w-full mb-5 group">
                <input formControlName="email" [ngClass]="{'border-red-700 text-red-800': email.get('email')?.errors && email.get('email')?.touched,
                'border-gray-300 text-gray-900': !(email.get('email')?.errors && email.get('email')?.touched),
                'border-green-600 text-greborder-green-600': email.get('email')?.valid && email.get('email')?.touched}" type="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="floating_email" [ngClass]="{'text-red-500': email.get('email')?.errors && email.get('email')?.touched,
                'text-gray-500': !(email.get('email')?.errors && email.get('email')?.touched),
                'text-green-500': email.get('email')?.valid && email.get('email')?.touched
                }" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
                <p class="text-blue-400 mt-5 mb-2"><i class="fa fa-exclamation-circle"></i> write a valid email</p>
            </div>
            <button type="submit" class="text-white block mx-auto bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">verify email</button>
          </form>
    }
    @else if (steps == 2) {
        
  <form [formGroup]="verifyCode" (ngSubmit)="codeStep()"  class="w-64 md:w-96">
    <div class="relative z-0 w-full mb-5 group">
        <input formControlName="resetCode" [ngClass]="{'border-red-700 text-red-800': verifyCode.get('resetCode')?.errors && verifyCode.get('resetCode')?.touched,
        'border-gray-300 text-gray-900': !(verifyCode.get('resetCode')?.errors && verifyCode.get('resetCode')?.touched),
        'border-green-600 text-greborder-green-600': verifyCode.get('resetCode')?.valid && verifyCode.get('resetCode')?.touched}" type="text" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
        <label for="floating_email" [ngClass]="{'text-red-500': verifyCode.get('resetCode')?.errors && verifyCode.get('resetCode')?.touched,
        'text-gray-500': !(verifyCode.get('resetCode')?.errors && verifyCode.get('resetCode')?.touched),
        'text-green-500': verifyCode.get('resetCode')?.valid && verifyCode.get('resetCode')?.touched
        }" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">code</label>
        <p class="text-blue-400 mt-5 mb-2"><i class="fa fa-exclamation-circle"></i> write a valid code</p>
    </div>
    <button type="submit" class="text-white block mx-auto bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">verify code</button>
  </form>
    }

    @else if (steps == 3) {
        <form [formGroup]="newPassword" (ngSubmit)="resetStep()"  class="w-64 md:w-96">
            <div class="relative z-0 w-full mb-5 group">
                <input formControlName="email" [ngClass]="{'border-red-700 text-red-800': newPassword.get('email')?.errors && newPassword.get('email')?.touched,
                'border-gray-300 text-gray-900': !(newPassword.get('email')?.errors && newPassword.get('email')?.touched),
                'border-green-600 text-greborder-green-600': newPassword.get('email')?.valid && newPassword.get('email')?.touched}" type="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="floating_email" [ngClass]="{'text-red-500': newPassword.get('email')?.errors && newPassword.get('email')?.touched,
                'text-gray-500': !(newPassword.get('email')?.errors && newPassword.get('email')?.touched),
                'text-green-500': newPassword.get('email')?.valid && newPassword.get('email')?.touched
                }" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">email</label>
                <p class="text-blue-400 mt-5 mb-2"><i class="fa fa-exclamation-circle"></i> write a valid email</p>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input formControlName="newPassword" [ngClass]="{'border-red-700 text-red-800': newPassword.get('password')?.errors && newPassword.get('password')?.touched,
                'border-gray-300 text-gray-900': !(newPassword.get('password')?.errors && newPassword.get('password')?.touched),
                'border-green-600 text-greborder-green-600': newPassword.get('password')?.valid && newPassword.get('password')?.touched}" type="password" name="floating_password" id="floating_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="floating_password" [ngClass]="{'border-red-700 text-red-800': newPassword.get('password')?.errors && newPassword.get('password')?.touched,
                'border-gray-300 text-gray-900': !(newPassword.get('password')?.errors && newPassword.get('password')?.touched),
                'border-green-600 text-greborder-green-600': newPassword.get('password')?.valid && newPassword.get('password')?.touched}" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">new password</label>
                <p class="text-blue-400 mt-5 mb-2"><i class="fa fa-exclamation-circle"></i> write at least 8 characters</p>
            </div>
            <button type="submit" class="text-white block mx-auto bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">send</button>
          </form>
    }

    @if (msgError) {
        <p class="rounded-md bg-red-300 text-red-500 p-4">{{msgError}}</p>
    }
</div>

