<div class="flex flex-col items-center justify-center w-full p-6 space-y-4 bg-white rounded-lg shadow md:space-y-6 sm:p-8">
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
        log in
    </h1>
    
    

<form [formGroup]="loginform" (ngSubmit)="login()" class="w-64 md:w-96">
    <div class="relative z-0 w-full mb-5 group">
        <input formControlName="email" [ngClass]="{'border-red-700 text-red-800': loginform.get('email')?.errors && loginform.get('email')?.touched,
        'border-gray-300 text-gray-900': !(loginform.get('email')?.errors && loginform.get('email')?.touched),
        'border-green-600 text-greborder-green-600': loginform.get('email')?.valid && loginform.get('email')?.touched}" type="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_email" [ngClass]="{'text-red-500': loginform.get('email')?.errors && loginform.get('email')?.touched,
        'text-gray-500': !(loginform.get('email')?.errors && loginform.get('email')?.touched),
        'text-green-500': loginform.get('email')?.valid && loginform.get('email')?.touched
        }" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
        <p class="text-blue-400 mt-5 mb-2"><i class="fa fa-exclamation-circle"></i> write a valid email</p>
    </div>
    
    <div class="relative z-0 w-full mb-5 group">
        <input formControlName="password" [ngClass]="{'border-red-700 text-red-800': loginform.get('password')?.errors && loginform.get('password')?.touched,
        'border-gray-300 text-gray-900': !(loginform.get('password')?.errors && loginform.get('password')?.touched),
        'border-green-600 text-greborder-green-600': loginform.get('password')?.valid && loginform.get('password')?.touched}" type="password" name="floating_password" id="floating_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_password" [ngClass]="{'border-red-700 text-red-800': loginform.get('password')?.errors && loginform.get('password')?.touched,
        'border-gray-300 text-gray-900': !(loginform.get('password')?.errors && loginform.get('password')?.touched),
        'border-green-600 text-greborder-green-600': loginform.get('password')?.valid && loginform.get('password')?.touched}" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">password</label>
        <p class="text-blue-400 mt-5 mb-2"><i class="fa fa-exclamation-circle"></i> write at least 8 characters</p>
    </div>
    <button type="submit" class="text-white block mx-auto bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">login</button>
  </form>
    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Don't have an account yet? <a routerLink="/register" class="font-medium text-blue-600 hover:underline dark:text-blue-500">Sign up</a>
        </p>
  @if (!valid) {
    <p class="rounded-md bg-red-300 text-red-500 p-4">the email and password is not exist</p>
    }
</div>