@if (summary) {
    <h2 class="font-medium text-2xl mb-4">Analytics</h2>
<div class="grid grid-cols-1  md:grid-cols-2 xl:grid-cols-4 md:gap-8 gap-2">
    <div class="bg-white flex gap-4 xl:p-4 md:pe-4 p-2 rounded-md">
        <div class="icon xl:w-12 xl:h-12 w-10 h-10 bg-blue-200 text-blue-400 rounded-full flex justify-center items-center overflow-hidden flex-shrink-0">
            <i class="fa-solid fa-chart-pie fa-2x"></i>
        </div>
        <div class="flex-shrink">
            <p class="text-gray-400">Total Revenue</p>
            <span class="xl:text-3xl text-xl font-bold me-2">{{summary.totalRevenue}}</span>
            <span class="px-2 py-1 bg-green-100 text-sm text-green-300 rounded-xl">{{summary.totalRevenueChange}}%</span>
        </div>
    </div>
    <div class="bg-white flex gap-4 xl:p-4 md:pe-4 p-2 rounded-md">
        <div class="icon xl:w-12 xl:h-12 w-10 h-10 bg-blue-200 text-blue-400 rounded-full flex justify-center items-center overflow-hidden flex-shrink-0">
            <i class="fa-solid fa-calendar-days fa-2x"></i>       
        </div>
        <div class="flex-shrink">
            <p class="text-gray-400">Today Revenue</p>
            <span class="xl:text-3xl text-xl font-bold me-2">{{summary.todayRevenue}}</span>
            <span class="px-2 py-1 text-sm bg-red-100 text-red-300 rounded-xl">{{summary.todayRevenueChange}}%</span>
        </div>
    </div>
    <div class="bg-white flex gap-4 xl:p-4 md:pe-4 p-2 rounded-md">
        <div class="icon xl:w-12 xl:h-12 w-10 h-10 bg-blue-200  text-blue-400 rounded-full flex justify-center items-center overflow-hidden flex-shrink-0">
            <i class="fa-solid fa-cart-arrow-down fa-2x"></i>
        </div>
        <div class="flex-shrink">
            <p class="text-gray-400">Item Sold</p>
            <span class="xl:text-3xl text-xl font-bold me-2">{{summary.itemsSold}}</span>
        </div>
    </div>
    <div class="bg-white flex gap-4 xl:p-4 md:pe-4 p-2 rounded-md">
        <div class="icon xl:w-12 xl:h-12 w-10 h-10 bg-blue-200 text-blue-400 rounded-full flex justify-center items-center overflow-hidden flex-shrink-0">
            <i class="fa-regular fa-face-kiss-wink-heart fa-2x"></i>        
        </div>
        <div class="flex-shrink">
            <p class="text-gray-400">Users Active</p>
            <span class="xl:text-3xl text-xl font-bold me-2">{{summary.usersActive}}</span>
        </div>
    </div>
</div>
}